body {
    background: #FDFC47;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;  /*Para ajustar el footer*/
    padding-bottom: 50px;
    min-height: 700px;
}

img {
    width: 100px;
    display: block;
    margin: auto;
}

footer {
    text-align: center;
    height: 50px;
    line-height: 50px;  /*para centrar el texto verticalmente*/
    position: absolute; /*Para que quede abajo y las instrucciones siguientes*/
    bottom: 0;
    width: 100%;
}