<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASKHOME</title>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="shortcut icon" href="../images/TaskHome.ico" />
</head>
<body style="background-color:#b5ebf7;">
  <main>
    <div id="contenedor-inicio">
      <table>
        <td>
          <h5 style="text-align: left; color: black;">&nbsp &nbsp TaskHome</h5>
        </td>
        <td>
        <h3 style="width: 80%; text-align: center; color: black;">Bienvenido</h3>
        </td>
        <td align="right">
          <img  class="mb-sm-3" src="images/TaskHome.ico" alt="" width="60" height="60">
        </td>
      </table>
    </div>
  </main>

  <br>
  <div id="contenedor">
    <div  align="center" id="principal">
        <div class="banner">
        </div>
    </div>    
    <div  align="center" id="principal">
      <br>
    </div>    
    <div id="contenedor-final">
      <div align="center"> 
        <h5 style="width: 80%; color: black;">Lleva el control de tu vida</h5>
        <h5 style="width: 90%; color: black;">Recuerda que al ser ordenados se simplifica nuestra vida en gran medida. Nos ayuda a estar tranquilos y sin estrés, ya que muchas veces el desorden externo puede llegar a afectarnos y causarnos ansiedad</h5>
        <b>
          <a class="ghost button fw-bold border-white " href="/login"  >INGRESAR</a>
        </b>
      </div>
      <footer align="center" class="mt-auto text-white-50">
        <p>Desarrollado Por: <a href="https://getbootstrap.com/" class="text-white">TaskHome</a>, by <a href="https://twitter.com/mdo" class="text-white">TaskHome</a>.</p>
      </footer>
    </div>
  </div>
</body>
</html>