<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TASKHOME</title>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/password.css">
  <link rel="shortcut icon" href="../images/TaskHome.ico" />
</head>
<body style="background-color:#b5ebf7;">
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
            <span class="title">TASKºHOME</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="book-outline"></ion-icon></ion-icon></span>
            <span class="title">Tasks</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
            <span class="title">Family</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="calendar-outline"></ion-icon></ion-icon></span>
            <span class="title">Calendar</span>
            
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
            <span class="title">Message</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            <span class="title">Settings</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
            <span class="title">Password</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
            <span class="title">Sign out</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="user">
          <img src="images/user.jpg">
        </div>
      </div>

        <div class="reset-password">
          <div class="form-container">
          
            <h1 class="title-password">Cambiar Clave</h1>
            <h3 class="subtitle">Ingresa una nueva contraseña para tu cuenta</h3>

            <form action="/" class="form">
              <label for="password" class="label">Password</label>
              <input type="password" id="password" placeholder="********" class="input input-password">

              <label for="new-password" class="label">Confirm Password</label>
              <input type="password" id="new-password" placeholder="********" class="input input-password">

              <input type="submit" value="Confirmar" class="primary-button login-button">
              <!-- <button>Confirmar</button> -->
            </form>
          </div>
        </div>

  </div>  

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script src="scriptindex.js" charset="utf-8"></script>
</body>
</html>