<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHome Login</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body class="d-lg-flex h-100 text-center">
    <main class="form-signin w-100 m-auto">
        <form>
        <div >
            <p>
              <h1 >Bienvenido a TaskHome</h1>
            </p>
            <img class="mb-4" src="../images/TaskHome.ico" alt="" width="120" height="100">
            <h1 class="h3 mb-3 fw-normal">Ingreso al Sistema</h1>
        </div>  
          <div class="form-floating mx-auto mb-3 mt-3 w-75">
            <input type="email" class="form-control bg-info" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo Electronico</label>
          </div>
          <div class="form-floating mx-auto mb-3 mt-3 w-75">
            <input type="password" class="form-control bg-info" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword" >Contraseña</label>
          </div>
          <div class="texto_general">
            <a class="nav-link" href="/olvidaste_contrasena">¿Olvidaste tu Contraseña?</a>
          </div>
          <div class="grid-2">
            <div class="checkbox mb-3">
              <label_check>
                  <input class="text-info" type="checkbox" value="remember-me"> Recuerdame
              </label_check>
            </div>
              <a class="nav-link w-100 btn btn-lg btn-primary " type="submit" href="principal.html">Ingresar</a>
          </div>
          <br>
            <a class="texto_general nav-link " href="registro.html">¿No tienes una cuenta? registrate aqui</a>
          <br>
          <div>
            <p class="mt-5 mb-3 text-muted">&copy; Septiembre 2022</p>
          </div>
          
        </form>
      </main>
</body>
</html>