<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHome Crear Cuenta</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/registro.css">
</head>

<body class="d-lg-flex h-100 text-center">
    <main class="form-signin w-100 m-auto">
        <form>
            <header >
                <img class="mb-5 " src="../images/TaskHome.ico" alt="" width="100" height="80">
            </header>
        <div >
            <h1 class="h3 mb-3 fw-normal">Crea tu cuenta</h1>
        </div>  
          <div class="form-floating mx-auto mb-3 mt-3 w-75">
            <input type="email" class="form-control bg-info" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo Electronico</label>
          </div>
          <div class="form-floating mx-auto mb-3 mt-3 w-75">
            <input type="password" class="form-control bg-info" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword" >Contraseña</label>
          </div>
          <div class="form-floating mx-auto mb-3 mt-3 w-75">
            <input type="password" class="form-control bg-info" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword" >Confirmar Contraseña</label>
          </div>
          <div>
            <<a class="btn btn-lg btn-primary fw-bold border-white " href="../templates/usuario.html"  >Crear Cuenta</a>
          </div>
          <br>
          <div>
            <p class="mt-5 mb-3 text-muted">&copy; Septiembre 2022</p>
          </div>
          
        </form>
      </main>
</body>
</html>