<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHome Nuevo Usuario</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/usuario.css">
</head>
<body class="d-lg-flex h-100 text-center">
    <main class="form-signin w-200 m-auto">
        <form>
        <div >
            <h1 class="h3 mb-3 fw-bold">Cual es tu nombre completo</h1>
        </div>  
        <br>
        <p class="grid-2">
            <div class="form-floating mx-auto mb-3 mt-3 w-200">
                <input type="email" class="form-control bg-info" id="floatingInput" placeholder="Carlos Andres Cordoba">
                <label for="floatingInput">Nombre Completo</label>
            </div>
            <div class="form-floating mx-auto mb-3 mt-3 w-200">
                <input type="password" class="form-control bg-info" id="floatingPassword" placeholder="name@example.com">
                <label for="floatingPassword" >Correo Electronico</label>
            </div>
        </p>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Continuar</button>
          <br>
          <div>
            <p class="mt-5 mb-3 text-muted">&copy; Septiembre 2022</p>
          </div>
          
        </form>
      </main>
</body>
</html>